	html{
	background:#c6c6c6;
	}
	*{margin: 0;
	padding: 0;}
	
	body {
	margin: 0 auto;
	font-family: 'Inconsolata';
	font-size: 16px;
	text-align: center;
	overflow:hidden;
	background:#c6c6c6;
	}
	.nondisplay{
	display: none;
	}
	
	#container{
	width: 960px;
	}
	#header{  
	height:90px;	
	color:white;
	background-image: url(data/logo.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-left:150px;
	text-align: left;	
	}
	
	#maincontent{ 
	
	width:100%;
	}
	.positioncontent1 {
    padding-left:150px;
	}

	.leftd {
    font-family: Inconsolata;
	font-size: 15px;
	line-height: 13px;
	position: relative;
	left: 45%;
	top:10px;	
	}
	a{
	color:#8a051b;
	}	
	#content1{ 		
	float:left;
	color:#8a051b;
	font-family: 'Inconsolata';
	font-size: 30px;
	font-weight: bold;
	}
	#content2{ 
	float:left;
	border-style: none;
	}
	#footer{ 	
	background:#f5f4e0;
	float:left;
	width:100%;	
	}	
	#div_settingbutton{
	position: relative;
	float:right;
	margin-right:100px;
	}
	#lastfooter{
	position: relative;
	float:right;
	color: white;
	text-align: left;
	}
	#form1_a{
	float:right;
	}
	#form1_b{
	float:right;
	margin-right: 10px;
	}
	
	
	#content1 option{
	font-family: 'Inconsolata';
	font-size: 20px;
	}
	#content1  label{
	font-family: 'Montserrat';
	font-size: 20px;
	color: white;
	}
	
	#buttongcode
	{
	float:left;
	font-family: 'Inconsolata';
	color: grey;
	font-weight: bold;
	}
	#form1{ 
	font-family: 'Inconsolata';
	font-size: 18px;
	}
	
	.selectinput{ 
	font-family: 'Inconsolata';
	font-size: 18px;
	color: grey;
	height:20px;
	}
	.selectinput1{ 
	font-family: 'Inconsolata';
	font-size: 14px;
	color: grey;
	height:16px;
	float:right;
	
	}
	
	
	legend{
	font-family: 'Montserrat';
	font-size: 22px;
	color: #8a051b;
	}

	#button2{ 
	font-family: 'Inconsolata';
	font-size: 24px;
	color: grey;
	font-weight: bold;
	}	

	#gcode{
	width:920px;
	height:500px;
	}
	
	#settingbutton{ 
	font-family: 'Inconsolata';
	font-size: 18px;
	color: grey;
	font-weight: bold;
	}	
	.selectinputdate{
	height:40px;
	}
	#id_day{
	font-family: 'Inconsolata';
	font-size:22px;
	color:#8a051b;
	}
	#id_month{
	font-family: 'Inconsolata';
	font-size:22px;
	color:#8a051b;
	}
	#id_year{
	font-family: 'Inconsolata';
	font-size:22px;
	color:#8a051b;
	}
	
	