	html{ 
	background:silver;
	}
	body { /*CAIXA BODY - totes las pàgines*/
	margin: 0 auto; 
	font: normal normal normal 14px/1.7 verdana,sans-serif;  
	color: black;
	text-align: left;
	}
	
	#container{
	width: 960px;
	}
	#header{  
	font: normal normal normal 8px/1.7 verdana,sans-serif;
	padding-right:5px;
	height:80px;
	color:white;
	text-align: right;	
	}
	#maincontent{ 
	font: normal normal normal 14px/1.7 verdana,sans-serif;  
	background:#e7e9e9;
	float:left;
	width:100%;
	}
	#maincontent p{  
	padding-left:5px;
	padding-right:5px;
	}
	#leftcontent{ 
	margin-top:10px;
	background:#e7e9e9;
	float:left;
	width:25%;
	}
	#rightcontent{ 
	margin-top:10px;
	background:#e7e9e9;
	float:left;
	width:70%;
	}	
	
	#footer{ 
	margin-left:10px;
	background:#f5f4e0;
	float:left;
	width:98%;
	border-style: groove;
    border-width: medium;
	}	
	
	#button{ 
	font: normal normal normal 14px/1.7 verdana,sans-serif; 
	color: red;
	}
	#displaylistpoints{
	font: normal normal normal 14px/1.7 verdana,sans-serif; 
	color: red;
	}
	